server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecomm_demo
    username: postgres
    password: qwerty1234

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
