name: Build JAR

on:
  push:
    branches:
      - jar-build
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build with Maven
        run: ./mvnw clean package

      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: target/*.jar